@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;


.farmTypes{
        width: 100vw;
        // display: flex; 
        // flex-direction: column;
    @include tablet{
        width: 65vw;
        margin: 0 auto;
        border-left: $primary-color solid .025rem;
        border-right: $primary-color solid .025rem;
        box-shadow: 0 .4rem .625rem rgba($color: $primary-color, $alpha: 1.0);
        padding: .5rem;
    }
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        border: red 2px solid;

        @include tablet{
        flex-direction: row;
        flex-wrap: wrap;
        }
    }
    &__navlink {
        display: flex;
        text-decoration: none;
        
        align-items: center;
        margin: .5rem 1rem;
        color: $primary-color;
        font-weight: 700;
        font-family: "FireSans-Italic", Arial, Helvetica, sans-serif;
    }
    
    &__cards{
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        // not centering
        justify-content: center;
        align-items: center;
    }

    &__link{
        text-decoration: none;
        @include link;
        padding: .1rem .5rem;
        width: 100%;
        background-color: white;
        // background-color: rgba(154, 72, 24, 0.588);
    }
    &__link:hover{
        text-decoration: underline dotted $primary-highlight;
    }

    &__section{
        border: 2px solid $primary-color;
        height: 15rem;
        width: 20rem;
        margin: 1rem;
        display: flex;
        align-items: flex-end;
        &--fruitVegetable{}
    }
    // &__figure{
        
    // }
    &__img{
        height: 25rem;
    }
}