@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.browse{
    display: flex;
    flex-direction: column;
    
    &__section--farmtypes{
        display: flex;
        flex-direction: column;
    }
    &__section--farmtypes-img{
        background: center/100% no-repeat url(../../assets/images/category-images/farmtype-images/farmtype-card.svg);
        height: 18rem;
        width: 24rem;
        display: flex;
    }
    &__link--farmtypes{
        color: $primary-color;
        background-color: white;
        margin-bottom: 3rem;

    }

    


    &__section--communities{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        }
    &__section--communities-img{
        background: center/cover no-repeat url(../../assets/images/category-images/community-images/community-card.svg);
        height: 18rem;
        width: 24rem;
        display: flex;
    }
    &__link--communities{
        color: $primary-color;
        background-color: white;
        margin-bottom: 3rem;
        
    }


    &__section--regions{
        flex-direction: column;
        
    }
    &__section--regions-img{
        background: center/100% no-repeat url(../../assets/images/category-images/region-images/regions-2.svg);
        height: 18rem;
        width: 24rem;
        display: flex;
    }
    &__link--regions{
        color: $primary-color;
        background-color: white;
        margin-bottom: 3rem;
       
    }
}