@use './typography' as *;
@use './variables' as *;


//mobile responsive mixin
@mixin mobile {
    @media (min-width: $mobile-width) {
        @content;
    }
}

//tablet responsive mixin
@mixin tablet {
    @media (min-width: $tablet-width) {
        @content;
    }
}

//desktop responsive mixin
@mixin desktop {
    @media (min-width: $desktop-width) {
        @content;
    }
}

@mixin CTA-btn {
    text-decoration: none;
    background-color: $primary-color;     
    color: white;
    text-align: center;
    width: 15rem;
    padding: .5rem 0;
    margin: .25rem;                     
    border-radius: 20px;
        &:hover{
            background-color: black;
            color: white
        }
}

@mixin table-row-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin profile-hero-image{
    height: 20rem;
    width: 24rem;
    object-fit: cover;
    object-position: center;
}
@mixin link{
    text-decoration: none;
    color: $primary-color;   
}

@mixin link-hover{
    text-decoration: underline $primary-highlight dotted;
}

@mixin category-cards{
    background-size: cover;
    background-position: center;   
    border-radius: .5rem;
    
}