
@font-face {
    font-family: "FireSans-Regular";
    src: url();
    font-weight: 400;
}

@font-face {
    font-family: "FireSans-Italic";
    src: url();
    font-weight: 400;
}

@font-face {
    font-family: "FireSans-Bold";
    src: url();
    font-weight: 700;
}