
@font-face {
    font-family: "FireSans-Regular";
    src: url(../../assets/fonts/FiraSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "FireSans-Italic";
    src: url(../../assets/fonts/FiraSans-Italic.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "FireSans-Bold";
    src: url(../../assets/fonts/FiraSans-Bold.ttf);
    font-weight: 700;
}