
$primary-color: #008080;
$primary-highlight:  #239e9e;
$secondary-color:   #add8e6;
$dark-primary: #014343;
$RU_grey: #808080;

$tan: #9d4918; 

//responsive breakpoint variables
$desktop-width: 1280px;
$tablet-width: 768px;
$mobile-width: 320px;