
$primary-color: #008080;
$primary-highlight:  #239e9e;
$secondary-color:   #add8e6;
$dark-primary: #014343;
$RU_grey: #808080;

//logo color pallette
$logo-tan: #9d4918;
$green: #2a9d18;
$Matisse-blue: #186c9d;
$purple: #8b189d;



//responsive breakpoint variables
$desktop-width: 1280px;
$tablet-width: 768px;
$mobile-width: 320px;