@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.farm {
    @include tablet{
        width: 65vw;
        margin: 0 auto;
        border-left: $primary-color solid .025rem;
        border-right: $primary-color solid .025rem;
        box-shadow: 0 0 10px rgba($color: $primary-color, $alpha: 1.0);
        padding: .5rem;
    }
    &__navlink {
        display: flex;
        text-decoration: none;
        
        align-items: center;
        margin: .5rem 1rem;
        color: $primary-color;
        font-weight: 700;
        font-family: "FireSans-Italic", Arial, Helvetica, sans-serif;
    }

    &__details-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__banner-image {
        @include profile-hero-image;
    }

    &__title-div{
        color: white;
        background-color: $primary-highlight;
        width: 24rem;
        border-radius: 0 0 1.5rem 1.5rem ;
    }
    &__program-name {
        font-size: 1.25rem;
        margin: .5rem .75rem;
    }

    &__farm-name {
        font-family: "FireSans-Italic";
        font-size: 1rem;
        margin: .5rem .75rem;
    }

    &__map {
        height: 10rem;
        // width: 95vw;
        width: 100%;
        border-bottom: lightblue;
        background-color: grey;
        background-image: url(../../assets/images/category-images/region-images/map-placeholder.svg);
        background-position: center;
        background-size: cover;
    }

    &__CTA-div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;

        &--link {
            @include CTA-btn;
            padding: .75rem;
        }

    }



}