@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;
@use '../../partials/variables' as *;

.farm {
    &__banner-image{

    width: 95vw;
    }

    // &__title-div{}
    // &__program{}
    // &__farm-name{}
    &__map{
        height: auto;
        width: 95vw;
        border-bottom: lightblue; 
    }
    &__CTA-div{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;        
        width: 100%;

        &--link{
            @include CTA-btn;
            padding: .75rem;

        }
    }



}