@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.communities {
    background-color: rgba($color: $green, $alpha: .05);

    @include tablet {
        width: 65vw;
        margin: 0 auto;
        border-left: $primary-color solid .025rem;
        border-right: $primary-color solid .025rem;
        box-shadow: 0 .4rem .625rem rgba($color: $primary-color, $alpha: 1.0);
        padding: .5rem;
    }

    &__header {
        text-align: center;

        @include header;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 6rem;

    }

    &__navlink {
        display: flex;
        text-decoration: none;

        align-items: center;
        margin: .5rem 1rem;
        color: $primary-color;
        font-weight: 700;
        font-family: "FireSans-Italic", Arial, Helvetica, sans-serif;
    }

    &__cards{
        @include cards-container-flex;
    }

    &__link {

        text-decoration: none;
        @include link;
        padding: .1rem .5rem;
        width: 100%;
        background-color: white;
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
    }

    &__link:hover {
        text-decoration: underline dotted $primary-highlight;
    }

    &__section {
        border: 2px solid $primary-color;
        height: 15rem;
        width: 20rem;
        margin: 1rem;
        display: flex;
        // align-self: center //doesn't help;
        align-items: flex-end;
        box-shadow: 0 .4rem .625rem rgba($color: $primary-color, $alpha: 1.0);

        &--qtbipoc{
            background-image: url(../../assets/images/category-images/community-images/QTBIPOC.png);
            @include category-cards;
        }
        &--africanDiaspora{
            background-image: url(../../assets/images/category-images/community-images/Black.png);
            @include category-cards;
        }
        &--aapi{
            background-image: url(../../assets/images/category-images/community-images/AAPI.png);
            @include category-cards;
        }
        &--latinAmerican{
            background-image: url(../../assets/images/category-images/community-images/Latin.png);
            @include category-cards;
        }
        &--arabMENA{
            background-image: url(../../assets/images/category-images/community-images/Arab_MENA.png);
            @include category-cards;
        }
        &--nativeAmerican{
            background-image: url(../../assets/images/category-images/community-images/Native.png);
            @include category-cards;
        }

    }

    &__figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__img {
        height: 25rem;
        display: block;
    }
}