@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

* {
    font-family: "FireSans-Regular";
}

.about{
    display: flex;
    flex-direction: column;

    &__hero-image{
        background: 100% url(../../assets/images/site-images/lavender-farm.jpg);
        height: 8rem;
      
    }
    
    
}