@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

* {
    font-family: "FireSans-Regular";
}

.about{
    display: flex;
    flex-direction: column;

    
}