@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

* {
    font-family: "FireSans-Regular";
}

.about{
    display: flex;
    flex-direction: column;

    &__hero-image{
        background: 100% url(../../assets/images/site-images/lavender-farm.jpg);
        height: 8rem;
      
    }
    &__text-content{
        padding: .5rem 5rem .5rem 1rem;
    }
    // &__about-us{
    //     display: flex;
    //     flex-direction: row;
    //     // flex-wrap: wrap;
    // }
    // &__about-text{
    //     padding-right: 5rem; 
    // }
    // &__about-img{
    //     height: auto;
    //     width: 15rem;
    //     padding-top: 2rem;
    //     padding-right: 5rem;
    // }
}

.bold{
    font-weight: 700;
    color: $primary-highlight

}