
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;


.details{
    
    &__location{
        display: flex;
        flex-direction: column;
    }

    &__table-row{
        display: flex;
        flex-direction: column;
        border-top: $primary-highlight .025rem solid;
    }

    &__table-row--regular{
        text-align: center;

    }
    &__row-header{
        align-self: center;
        @include tablet{
            align-self: flex-start;
        }
    }

    &__farm-type{
        color: $primary-color;
        font-weight: 800;
    }

    &__conditional-row{
        display: flex;
        flex-direction: row;
        
        justify-content: center;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    
    &__table-text{
        display: inline-block;
        margin: 0.5rem auto;
        padding: .5rem;
    }
    &__table-row--nofee{
        background-color: $dark-primary;
        color: white;
        text-align: center;
    }

    &__table-row--fee{
        background-color: $RU_grey;
        color:white;
        font-weight: 700;
        text-align: center;
    }
    
    &__checkbox{
        height: 1.5rem;
        align-self: center;
    }
    &__affirming{
        font-weight: 700;       
        justify-content: space-between;
        @include tablet{
            justify-content: flex-start;
        }


    }
    #bold{
        font-weight: 700;
    }


}